//-----------------------------------
// 
// Variables
//
//------------------------------------

$white:  #fff;
$black:  #000;
$gray-light:  #999;
$gray-medium:  #666;
$gray-dark:  #333;
$black:  #000;
$blue:  #54b8cd;
$green:  #4c813d;